<p>你好我的老朋友</p>

<p>欢迎来到梦想的王国</p>

<p>您的尊贵信息就是下面显示的</p>

<p>email: <%= @user_email %></p>
<p>Sec_Password: <%= @user_sec_password %></p>

</br></br></br></br></br>

<div>
    ------------------------------------------<br>
    您之所以会收到此邮件，是因为你的Comet梦想账号连接到了此邮箱<br>
    Argamente Inc.
</div>
