
<div class="co-pce-wrapper">
        <p class="co-pce-logo">T A V E R N</p>
        <p class="co-pce-tip">找 回 密 码</p>
        <p class="co-pce-icon-holder">
            <%= image_tag "emailsend.png", :id=>"co-pce-icon" %>
            <p class="co-pce-icon-text">邮件发送完毕请您查收邮箱。</p>
        </p>
        <p class="co-pce-loseemail">
            没有收到邮件？
            <%= link_to '重 新 发 送','/toresendemail', :id=>'co-pec-toresendemail' %>
        </p>
        <p>
            <%= button_to('返回首页', '/backtoroot', :id=>"co-pec-back-btn") %>
        </p>

</div>