
<div class="co-signup-wrapper">
        <div class="co-signinup-logo"><strong><%= link_to "T A V E R N", root_url %></strong></div>
        <div class="co-pce-tip">找 回 密 码</div>
        <div class="co-pce-icon-holder">
            <%= image_tag "emailsend.png", :id=>"co-pce-icon" %>
            <div class="co-pce-text">邮 件 发 送 完 毕 请 您 查 收 邮 箱。</div>
        </div>
        <div class="co-pce-loseemail">
            没有收到邮件？
            <%= link_to '重 新 发 送','/toresendemail', :id=>'co-pec-toresendemail' %>
        </div>
        <p>
            <%= button_to('返回首页', '/backtoroot', :id=>"co-pec-back-btn") %>
        </p>
</div>

