
<div class="co-wrapper-600x500">
    <div class="co-user-account-center-logo"><strong><%= link_to "T A V E R N", root_url %></strong></div>
    <div class="co-user-account-center-tip">重 设 密 码</div>
    <div class="co-user-account-center-icon-holder">
        <%= image_tag "check_icon.png", :class=>"co-user-account-check-icon" %>
        <div class="co-user-account-center-text">恭 喜 你，密 码 重 设 完 毕，请 重 新 登 录。</div>
    </div>

    <p>
        <%= button_to('登录', '/signin', :method=>"get", :id=>"co-repwdsuccess-back-btn", :class=>"co-user-account-long-btn") %>
    </p>
</div>