/* 前缀 co-peoples-show-xxxxx    co-peoples-update-xxxx */

/*
#red, #green, #blue {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}
#swatch {
  width: 120px;
  height: 100px;
  margin-top: 18px;
  margin-left: 350px;
  background-image: none;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle {
  border:none;
  border-radius:0px;
  background-image:url("sanjiaoxing1.png");
  width:30px;
  height:30px;
}

#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf;  }

*/


/* ----- 个人资料页全局 ------*/
#co-peoples-wrapper{
  margin:0;
  padding:0;
  height:100%;
}

/* ------ 左边容器 -------- */
#co-peoples-leftside{
  width:197px;
  float:left;
  height:100%;
  background:#0182a5;
  display:inline;
}

#co-peoples-rightside{
  position:absolute;
  height:100%;
  width:100%;
  float:left;
  display:inline;
}


/* ---- 左边栏头像那一块 ------- */
#co-peoples-show-head-icon{
  margin:0 auto;
  width:197px;
  text-align:center;
  margin-top:25px;
  margin-bottom:70px;

  p{
    color:white;
  }

  img{
    margin-top:10px;
  }
}

/* ------- 左边栏 头像下面的菜单连接 ---- */

#co-peoples-show-leftside-menu{
  text-align:center;


  p{
    margin-top:30px;
  }

  a{
    color:white;
    text-decoration:none;
    font-size:16px;
  }
}



/* ======================== 右边栏的内容 ==================== */

/* ------ 右边栏导航栏 -------- */
#co-peoples-header{
  height:70px;
  hr{
    width:100%;
  }
}

#co-peoples-header-menu{
  display:table;
  float:left;
  height:70px;
  line-height:70px;
  width:360px;
  text-align:center;

  li{
    list-style:none;
    width:80px;
    float:left;
    margin-left:10px;
    font-size:14px;

    a{
      color:#0182a5;
      text-decoration:none;
    }
  }

  li:nth-child(2){
    margin-left:0px;
    margin-right:20px;
  }

  li:nth-child(3){
    background-color:#0182a5;
    width:90px;
    a{
      color:white;
    }
  }


}


/* ------------------------------------------------------------------- */

/* ---- 基础信息显示 ---- */
#co-peoples-show-basic-information{
  padding-left:70px;
  margin-top:40px;
}

.cps-part-title{
  span:nth-child(1){
    font-size:24px;
    color:#0182a5;
  }
  span:nth-child(2){
    font-size:20px;
    margin-left:48px;

  }
}

#co-peoples-show-basic-information-content{
  height:30px;
  margin-left:47px;
  div:nth-child(2n+2){
    margin-left:15px;
    margin-right:15px;
  }
  div{
    float:left;
  }
}


#cpsb-edit-btn-div{
  float:left;
  margin-top:3px;
}

/* ----------- 基础信息更新 ------------- */

#co-peoples-update-basic-information{
  display:none;
 border:1px solid red;
  margin-top:50px;
  height:200px;

  input{
    border:1px dotted #0182a5;
  }
}

.cpub-part{
  float:left;

  margin-left:40px;
}

.cpub-label{
  margin-bottom:2px;
  color:#0182a5;
}

.cpub-dropdown{
  float:left;
  margin-right:5px;
  width:100px;
  background:#0182a5;
}

.cpub-dropdown:after{
  background:red;
}

.cpub-dropdown-select{
  position:relative;
  width:100%;
  color:white;
  border-radius: 0;
  background: rgba(0, 0, 0, 0) !important;
  -webkit-appearance: none;
  margin:0;
  padding:2px 5px 2px 5px;
}

.cpub-dropdown-select > option{
  margin: 3px;
  padding: 6px 8px;
  background:#f4f4f4;
  color:#0182a5;
}

.cpub-dropdown-select:active,
.cpub-dropdown-select:focus{
  outline:none;
}


#cpub-submit-btn{
  margin-top:38px;
}

.cpub-submit-btn{
  width:80px;
  background:#0182a5;
  color:white;
  border:0px;
  height:24px;
}

/* ------------------------------------------------------------------- */
/* 近况显示 */
#co-peoples-show-life-memory{
  margin-top:50px;
  height:340px;
  background-color:#f4f4f4;
  padding:0;

  hr{
    width:1px;
    height:313px;
    background-color:white;
    border:0px;
  }

  #co-peoples-show-life-memory-date{
    width:172px;
    float:left;
    height:100%;

    span{
      width:30px;
      height:313px;
      display:block;
      float:left;
      margin-top:20px;
      color:#0182a5;
    }

    span:nth-child(1){
      font-size:32px;
      margin-left:54px;
    }

    span:nth-child(2){
      font-size:20px;
      margin-left:15px;
      margin-top:27px;
    }

  }

  #co-peoples-show-life-memory-hr{
    float:left;

  }

  #co-peoples-show-life-memory-content{
    position:absolute;
    float:right;
    width:100%;
    height:313px;
    margin-left:172px;


    #co-peoples-show-life-memory-tag{
      margin-left:139px;
      height:50px;

      margin-left:100px;

      div{
        float:left;
        width:13%;

        p{
          width:100px;
          font-size:20px;
          text-align:center;

        }
      }

      .memory-tag-selector{
        width:45px;
        height:5px;
        background-color:#0182a5;
        margin-top:-12px;
        margin-left:28px;
        display:none;
      }
    }
  }
}

/* 近况显示区域 */
.co-peoples-show-life-memory-content-list{
  margin-left:127px;
  height:240px;
  margin-top:20px;
  font-size:14px;
  display:none;
}

.co-peoples-memory-item{

  clear:left;
}


.memory-content-holder{
  height:25px;
  float:left;
}

.memory-content-text{
  float:left;
}

.memory-content-edit-buttons-holder{
  float:left;
  margin-left:10px;
  display:none;

  img{
    margin-right:2px;
  }
}


.memory-content-edit-input{
  width:400px;
  height:30px;
  border:1px dotted #0182a5;
  margin-right:5px;
  padding-left:5px;

}

.memory-content-edit-btn{
  width:80px;
  background:#0182a5;
  color:white;
  border:0px;
  height:27px;
}


/* 一条近况后面的空白占位 div */
.memory-content-blank-space{
  float:left;
  width:50px;

}


.memory-content-edit-holder{
  display:none;
}

.memory-add-new-content-holder{
  clear:both;
  float:left;
}

.memory-add-new-content-edit{
  display:none;
}

.memory-add-new-content-btn{
  margin-top:10px;

  cursor:pointer;

  float:left;
  span{
    display:block;
    float:left;

  }

  span:nth-child(2){
    margin-left:5px;
    margin-top:3px;
    color:#0182a5;
  }
}

/*---------------- 近况结束 ---------------------*/



/*--------------- 参与项目 ----------------------*/

#co-peoples-show-joined-projects{

  padding-left:70px;
  margin-top:60px;
}

#cpsjp-content-field{
  margin-top:20px;
  height:200px;
  padding-left:400px;
}

#cpsjp-btn-left,
#cpsjp-btn-right{
  float:left;

  margin:0 auto;
  margin-top:84px;
}

#cpsjp-content{
  float:left;
  width:200px;
  height:200px;
  margin-left:30px;
  margin-right:30px;
  box-shadow:0px 0px 10px #7b7b7b;
  text-align:center;

  font-size:50px;
  line-height:200px;
  color:#0182a5;
}



/*--------------- 参与项目结束 ------------------*/