
// 垂直排列 holder
.co-verticle-holder{
  display:flex;
  display:-webkit-flex;

  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */

  flex-direction:column;
  border:2px solid black;

  min-height:100vh;
}

// 内容holder
.co-peoples-holder{
  display:-webkit-flex;
  display:flex;

  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */

  border:1px solid yellow;

  flex:1;
}

// 左边栏 holder
.co-peoples-left-side{
  width:180px;
  border:2px solid blue;
  min-width:180px;
}

// 右边栏 holder
.co-peoples-right-side{
  border:2px solid red;

  min-width:800px;

  display:-webkit-flex;
  display:flex;

  flex-direction:column;

  //box-sizing:border-box;
  //-moz-box-sizing:border-box; /* Firefox */
  //-webkit-box-sizing:border-box; /* Safari */
  flex:1;
}

// 个人右边栏子模块 holder
.co-peoples-header,
.co-peoples-basicinfo,
.co-peoples-lifememory,
.co-peoples-projects-joined,
.co-peoples-my-comment,
.co-peoples-education,
.co-peoples-ability,
.co-peoples-work {
 // border: 2px solid yellow;
  word-wrap:break-word;
  word-break:break-all;
}

// 主背景颜色
.co-bg-color{
  background-color:#0182a5;
}

// 主文本颜色
.co-text-color{
  color:#0182a5;
}

// 主边框颜色
.co-border-color{
  border-color:#0182a5;
}



// 以下是左边栏的样式
.co-peoples-left-side{
  p{
    //border:1px solid red;
    text-align:center;
    color:white;
  }

  p:nth-child(1){
    font-size:18px;
    margin-bottom:30px;
    margin-top:20px;
  }
}


// --------- 右边栏相关 -----------

// 导航条
.co-peoples-header{
  //border:1px solid red;
  height:70px;
  line-height:70px;

  display:-webkit-flex;
  display:flex;

  border-bottom:1px solid #C0C0C0;


  div{
    //border:1px solid red;

    display:-webkit-flex;
    display:flex;

    align-items:center;
  }

  // 导行条左边
  div:nth-child(1){
    min-width:350px;
    flex:1;
    p{
      //border:1px solid black;
      width:100px;
      text-align:center;
      font-size:18px;
    }

    p:nth-child(1){
      margin-left:20px;
    }

    p:nth-child(3){
      color:white;
    }

  }

  // 导行条右边
  div:nth-child(2){
    flex:2;
    justify-content:flex-end;

    min-width:600px;

    p{
      //border:1px solid black;
    }

    // 两个图片
    p:nth-child(2),
    p:nth-child(3){
      width:70px;
      text-align:center;
    }

    p:nth-child(3){
      border-left:1px solid #C0C0C0;
      border-right:1px solid #C0C0C0;
    }


    p:nth-child(4){
      width:200px;
      text-align:center;
      font-size:18px;
    }

    input{
      width:262px;
      height:41px;
      padding-left:10px;
      padding-right:10px;
      border-radius:5px;
      border:0px;
      background-color:#f4f4f4;
    }

    img{
      margin-bottom:-10px;
    }
  }

}

