<div class="co-peoples-ability">
    <div class="cpa-title">
        个 人 技 能
    </div>

    <!-- 技能列表 -->
    <div id="cpa-items" name="aaa">

        <% @abilities.each do |ability| %>
            <!-- 一个项目 -->
            <div class="cpa-item" name="<%= ability.ability_id %>">
                <!-- 一个技能静态显示状态 -->
                <div class="cpa-item-show">
                    <div class="cpa-item-name"><%= ability.ability_name %></div>
                    <div class="cpa-static-slider">
                        <div class="cpa-static-range" style="width:<%= ability.ability_level * 50 %>px;"></div>
                    </div>
                    <div>
                        <img src="/images/edit-icon.png" class="cpa-edit-btn"/>
                        <img src="/images/delete-icon.png" class="cpa-del-btn"/>
                    </div>
                </div>

                <% if @is_master_user %>
                <!-- 一个技能动态编辑状态 -->
                <div class="cpa-item-edit">
                    <div><input type="text"/></div>
                    <div class="cpa-dynamic-slider">
                        <div class="cpa-dynamic-range"></div>
                    </div>
                    <div>
                        <button class="cpa-edit-confirm-btn">确定</button>
                        <button class="cpa-edit-cancel-btn">取消</button>
                    </div>
                </div>
                <% end %>

            </div>
        <% end %>

    </div>

    <% if @is_master_user %>
    <!-- 添加技能区域 -->
    <div id="cpa-add-field">
        <!-- 添加技能 静态显示 -->
        <div id="cpa-add-field-static">
            <div class="cpa-add-title">名称</div>
            <div class="cpa-static-slider">
                <div class="cpa-static-range"></div>
            </div>
            <div><img src="/images/add.png" id="cpa-add-btn"/></div>
        </div>

        <!-- 添加技能 动态编辑 -->
        <div id="cpa-add-field-dynamic">
            <div><input type="text" name="ability_name"/></div>

            <div class="cpa-dynamic-slider">
                <div class="cpa-dynamic-range"></div>
            </div>

            <div>
                <button id="cpa-add-confirm-btn">确定</button>
                <button id="cpa-add-cancel-btn">取消</button>
            </div>
        </div>
    </div>
    <% end %>

</div>


<% if @is_master_user %>
<template id="ability_row">
    <!-- 一个项目 -->
    <div class="cpa-item" name="test">
        <!-- 一个技能静态显示状态 -->
        <div class="cpa-item-show">
            <div class="cpa-item-name">Photoshop</div>
            <div class="cpa-static-slider">
                <div class="cpa-static-range"></div>
            </div>
            <div>
                <img src="/images/edit-icon.png" class="cpa-edit-btn"/>
                <img src="/images/delete-icon.png" class="cpa-del-btn"/>
            </div>
        </div>

        <!-- 一个技能动态编辑状态 -->
        <div class="cpa-item-edit">
            <div><input type="text"/></div>
            <div class="cpa-dynamic-slider">
                <div class="cpa-dynamic-range"></div>
            </div>
            <div>
                <button class="cpa-edit-confirm-btn">确定</button>
                <button class="cpa-edit-cancel-btn">取消</button>
            </div>
        </div>
    </div>
</template>




<script>

    // 我也不知道为什么，直接在这个id的css里加上display:none，再show的时候css就失效了，Fuck
    $("#cpa-add-field-dynamic").hide();


    $(function() {

        // 添加那里的 jquery slider 配置
        function cpe_register_slider(target = null){

            if(target == null){
                target = $(".cpa-dynamic-range");
            }

            target.slider({
                orientation: "horizontal",
                min:0,
                max:4,
                range: "min",
                value: 1,
            });
        }


        // 调用滑动条注册函数
        cpe_register_slider();


        function cpe_register_education_item_hover_event(target = null){
            if(target == null){
                target = $(".cpa-item-show");
            }

            target.hover(function(){
                $(this).children("div:nth-child(3)").show();
            },function(){
                $(this).children("div:nth-child(3)").hide();
            });
        }

        cpe_register_education_item_hover_event();



        function cpe_register_edit_del_event(target_edit = null,target_del = null){
            if(target_edit == null){
                target_edit = $(".cpa-edit-btn");
            }

            if(target_del == null){
                target_del = $(".cpa-del-btn");
            }

            target_edit.click(function(){
                // 首先显示出编辑界面来
                $(this).parent().parent().hide();
                cpe_show_flexbox_element($(this).parent().parent().next());

                // 获取到原始的数值，然后计算出level来
                var parent_node = $(this).parent().parent();
                var old_ability_name = parent_node.children("div:nth-child(1)").text();
                var old_level_width = parent_node.children("div:nth-child(2)").children("div").width();
                var old_level = old_level_width / 50;

                // 将原始数值赋值进编辑界面
                var edit_parent_node = $(this).parent().parent().next();
                var edit_input = edit_parent_node.children("div:nth-child(1)").children("input");
                var edit_slider_range = edit_parent_node.children("div:nth-child(2)").children("div");

                edit_input.val(old_ability_name);
                edit_slider_range.slider("value",old_level);
            });

            target_del.click(function(){

                var parent_node = $(this).parent().parent().parent();
                var ability_id = parent_node.attr("name");

                $.ajax({
                    type:"POST",
                    url: "/people/update/ability",
                    data:{
                        ajax_operation:2,
                        ajax_ability_id:ability_id
                    },
                    success:function(data,textStatus,xhr){
                        if(data.result == 0){
                            parent_node.remove();
                        }
                        else{
                            alert("操作失败: " + data.message);
                        }
                    }
                });
            });
        }

        cpe_register_edit_del_event();


        function cpe_register_edit_confirm_cancel_event(target_confirm = null,target_cancel = null){
            if(target_confirm == null){
                target_confirm = $(".cpa-edit-confirm-btn");
            }

            if(target_cancel == null){
                target_cancel = $(".cpa-edit-cancel-btn");
            }

            target_confirm.click(function(){
                // 先把编辑界面隐藏，然后显示出展示界面
                $(this).parent().parent().hide();
                $(this).parent().parent().prev().show();

                // 获取编辑界面的节点
                var edit_parent_node = $(this).parent().parent();
                var edit_input_node = edit_parent_node.children("div:nth-child(1)").children("input");
                var edit_range_node = edit_parent_node.children("div:nth-child(2)").children("div");

                // 获取新的名字和level
                var new_name = edit_input_node.val();
                var new_level = edit_range_node.slider("value");
                var new_level_width = new_level * 50;

                // 获取展示节点
                var show_parent_node = $(this).parent().parent().prev();
                var show_name_node = show_parent_node.children("div:nth-child(1)");
                var show_range_node = show_parent_node.children("div:nth-child(2)").children("div");
                var ability_id = show_parent_node.parent().attr("name");




                $.ajax({
                    type:"POST",
                    url:"/people/update/ability",
                    data:{
                        ajax_ability_name:new_name,
                        ajax_ability_level:new_level,
                        ajax_operation:1,
                        ajax_ability_id:ability_id
                    },
                    success:function(data,status,xhr){
                        if(data.result == 0){
                            // 设置新的展示名字和level宽度
                            show_name_node.text(new_name);
                            show_range_node.width(new_level_width);
                        }
                        else{
                            alert("操作失败: " + data.message);
                        }
                    }
                });

            });

            target_cancel.click(function(){
                $(this).parent().parent().hide();
                $(this).parent().parent().prev().show();
            });

        }


        cpe_register_edit_confirm_cancel_event();

        function cpe_show_flexbox_element(element){
            element.css({"display":"flex","display":"-webkit-flex"});
        }



        // 点击了添加按钮
        $("#cpa-add-btn").click(function(){
            $("#cpa-add-field-static").hide();
            $("#cpa-add-field-dynamic").show();
        });


        // 添加的确认按钮
        $("#cpa-add-confirm-btn").click(function(){
            $("#cpa-add-field-static").show();
            $("#cpa-add-field-dynamic").hide();

            var parent_node = $('#cpa-add-field-dynamic');
            var input_node = parent_node.children("div:nth-child(1)").children("input");
            var slider_node = parent_node.children("div:nth-child(2)").children("div");

            var new_name = input_node.val();
            var new_level = slider_node.slider("value");

            var items_node = $('#cpa-items');

            $.ajax({
                type:"POST",
                url: "/people/update/ability",
                data:{
                    ajax_ability_name:new_name,
                    ajax_ability_level:new_level,
                    ajax_operation:0
                },
                success:function(data,textStatus,xhr) {
                    if (data.result == 0) {

                        // 克隆元素
                        var t = document.querySelector('#ability_row');
                        var clone = document.importNode(t.content,true);
                        // Append 元素
                        items_node.append(clone);

                        // 获取刚插入的元素
                        var last_child = items_node.children("div:last");

                        // 赋值刚插入的元素
                        var new_ability_id = data.new_ability_id;
                        last_child.attr("name",new_ability_id);
                        last_child.find(".cpa-item-name").text(new_name);
                        last_child.find(".cpa-static-range").width(new_level * 50);

                        // 绑定事件
                        cpe_register_education_item_hover_event(last_child.children("div"));
                        cpe_register_edit_del_event(last_child.find(".cpa-edit-btn"),last_child.find(".cpa-del-btn"));
                        cpe_register_edit_confirm_cancel_event(last_child.find(".cpa-edit-confirm-btn"),last_child.find(".cpa-edit-cancel-btn"));
                        cpe_register_slider(last_child.find(".cpa-dynamic-range"));

                        input_node.val("");
                        slider_node.slider("value",1);
                    }
                    else{
                        alert("操作失败: " + data.message);
                    }

                }
            });

        });

        // 添加的取消按钮
        $("#cpa-add-cancel-btn").click(function(){
            $("#cpa-add-field-static").show();
            $("#cpa-add-field-dynamic").hide();
        });


    });

</script>
<% end %>