<div id="co-peoples-show-ability">
    <div id="cps-ability-title">个 人 技 能</div>


    <div class="cpsa-item-holder" id="cpsa-item-100000000">
        <div class="cpsa-item-name" id="cpsa-item-name-100000000">Photoshop</div>
        <div class="cpsa-item-name" id="cpsa-item-name-edit-100000000"><input type="text"/></div>
        <div class="cpsa-slider" id="cpsa-slider-100000000">
            <div class="cpsa-slider-range" id="cpsa-slider-100000000"></div>
        </div>
        <div class="cpsa-slider-edit" id="cpsa-slider-edit-100000000">
            <div class="cpsa-slider-edit-range" id="cpsa-slider-edit-range-100000000"></div>
        </div>
    </div>





</div>

<div id="co-peoples-update-ability">

</div>


<script>




    function refreshStop(){
        var red = $("#red").slider("value");
        alert(red);
    }

    //$('#cpsa-slider-100000000').width(100);


    $(function() {
        $("#cpsa-slider-edit-range-100000000").slider({
            orientation: "horizontal",
            min:1,
            max:5,
            range: "min",
            value: 2,

        });
       // $( "#red" ).slider( "value", 150 );



    });

</script>

