<div id="co-peoples-show-education">
    <p class="cps-part-title">
        <span>工作 & 技能</span>
        <span>Job & SKILL</span>
    </p>

    <div class="cpsedu-icon"><%= image_tag "peoples_school.png" %></div>

    <div id="cpsedu-content">

        <div id="cpsedu-schools-list">
            <div class="cpsedu-school">
                <span>清华大学</span>
                <span>2010.09 - 2014.07</span>
                <span>学位: 博士</span>
                <span>专业: 古代生物学</span>
            </div>

            <div class="cpsedu-school">
                <span>清华大学</span>
                <span>2010.09 - 2014.07</span>
                <span>学位: 博士</span>
                <span>专业: 古代生物学</span>
            </div>

            <div class="cpsedu-school">
                <span>清华大学</span>
                <span>2010.09 - 2014.07</span>
                <span>学位: 博士</span>
                <span>专业: 古代生物学</span>
            </div>

            <div class="cpsedu-school">
                <span>清华大学</span>
                <span>2010.09 - 2014.07</span>
                <span>学位: 博士</span>
                <span>专业: 古代生物学</span>
            </div>

        </div>
    </div>


    <div id="cpsedu-edit-content">
        <div class="cpsedu-edit-part">
            <p class="cpsedu-edit-label-special">学校</p>
            <p><input type="text" id="cpsedu-edit-school-input"/></p>
        </div>

        <div class="cpsedu-edit-part">
            <p>在校时间</p>
            <p>
                <select>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                </select>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                ～
                <select>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                </select>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </p>
        </div>

        <div class="cpsedu-edit-part">
            <p>学位</p>
            <p>
                <select>
                    <option value="2">博士</option>
                    <option value="3">硕士</option>
                    <option value="3">本科</option>
                    <option value="3">专科</option>
                    <option value="3">其他</option>
                </select>
            </p>
        </div>

        <div class="cpsedu-edit-part">
            <p>专业</p>
            <p><input type="text" id="cpsedu-edit-major-input"/></p>
        </div>

    </div>

</div>



<% if signed_in? %>
    <script>
        $(document).ready(function(){

            $.ajaxSetup({
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                }
            });


             $('#co-peoples-up-edu-submit').click(function(){

                 var schoolname = document.getElementById('co-peoples-up-edu-schoolname').value;
                 var start_date = document.getElementById('co-peoples-up-edu-start-date').value;
                 var end_date = document.getElementById('co-peoples-up-edu-end-date').value;

                 var obj = document.getElementById('co-peoples-up-edu-degree');
                 var selectedIndex = obj.selectedIndex;
                 var degree = obj.options[selectedIndex].text;

                 var major = document.getElementById('co-peoples-up-edu-major').value;

                 var account_id = <%= @current_page_account_id %>;

                 $.ajax({
                     type:"POST",
                     url: "/people/update/education",
                     data:{_schoolname:schoolname, _start_date:start_date, _end_date:end_date, _degree:degree, _major:major ,_account_id:account_id}
                 });
             });
        });
    </script>
<% end %>