<div class="co-peoples-left-side">
    <p>T A V E R N</p>
    <p><%= image_tag "peoples_default_headicon.png", :id=>"co-peoples-default-headicon" %></p>
    <p id="cp-nav-name">
        <%= @name %>
    </p>
</div>