<div class="co-peoples-header">
    <div>
        <p class="co-text-color">发现</p>
        <p class="co-text-color">寻找</p>
        <p class="co-bg-color">发布项目</p>
    </div>

    <div>
        <p><input type="text" placeholder="请输入你要搜索的内容"></p>
        <p><img src="/images/search.png" /></p>
        <p><img src="/images/bell.png" /></p>
        <p class="co-text-color">退出登录</p>
    </div>
</div>