<div id="co-peoples-header">
    <div id="co-peoples-header-menu">
        <li><%= link_to "发现", '#' %></li>
        <li><%= link_to "寻找", '#' %></li>
        <li><%= link_to "发布项目", '#' %></li>
    </div>
    <div><hr></div>
</div>