<div id="co-peoples-show-joined-projects">
    <p class="cps-part-title">
        <span>参与项目</span>
        <span>PROJECTS</span>
    </p>

    <div id="cpsjp-content-field">
        <div id="cpsjp-btn-left">
            <%= image_tag "cpsjp_btn_left.png" %>
        </div>

        <div id="cpsjp-content">
            +
        </div>

        <div id="cpsjp-btn-right">
            <%= image_tag "cpsjp_btn_right.png" %>
        </div>
    </div>
</div>





<div id="co-peoples-update-joined-projects">

</div>