<div class="co-peoples-projects-joined">
    <div class="cppj-header">
        <span>参与项目</span>
        <span>Projects</span>
    </div>

    <div class="cppj-content">
        <div class="cppj-content-leftpart">
            <img src="/images/cpsjp_btn_left.png" />
        </div>
        <div class="cppj-content-centerpart">
            <div class="cppj-content-default-item">
                +
            </div>


        </div>
        <div class="cppj-content-rightpart">
            <img src="/images/cpsjp_btn_right.png" />
        </div>
    </div>
</div>