<div id="co-peoples-show-my-comments">
    <div id="cpsmc-label">
        最近评论
    </div>

    <div id="cpsmc-content">
        <p class="cpsmc-comment">这是第一条评论</p>
        <p class="cpsmc-comment">这是第二条评论</p>
        <p class="cpsmc-comment">这是第三条评论</p>
        <p class="cpsmc-comment">这是第四条评论</p>
        <p class="cpsmc-comment">这是第五条评论</p>
        <p class="cpsmc-comment">这是第六条评论</p>
        <p class="cpsmc-comment">这是第七条评论</p>
    </div>

</div>

<div id="co-peoples-update-my-comments">

</div>