<div class="co-verticle-holder">
    <div class="co-peoples-holder">

        <!-- 左边栏 -->
        <%= render 'peoples/head_icon' %>

        <!-- 右边内容 -->
        <div class="co-peoples-right-side">
            <!-- 导航条 -->
            <%= render 'peoples/nav' %>

            <!-- 基本信息 -->
            <%= render 'peoples/basic_info' %>

            <!-- 近况 -->
            <%= render 'peoples/life_memory' %>


            <!-- 加入的项目 -->
            <div class="co-peoples-projects-joined">

            </div>

            <!-- 我的评论 -->
            <div class="co-peoples-my-comment">

            </div>

            <!-- 教育信息 -->
            <div class="co-peoples-education">

            </div>

            <!-- 技能信息 -->
            <div class="co-peoples-ability">

            </div>

            <!-- 工作经历 -->
            <div class="co-peoples-work">

            </div>
        </div>

    </div>



</div>


<script>
    $(function() {

        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            }
        });

    });



</script>