<button type="button", id="new_task">Link</button>

<div id="taskform">

</div>


<script>
    $(document).ready(function(){
        $('#new_task').click(function(){

            $.ajax({

                url: "/people/update/ajaxtest",

            });
        });
    });
</script>

