<div class="co-verticle-holder">
    <div class="co-peoples-holder">

        <!-- 左边栏 -->
        <%= render 'peoples/head_icon' %>

        <!-- 右边内容 -->
        <div class="co-peoples-right-side">
            <!-- 导航条 -->
            <%= render 'peoples/nav' %>

            <!-- 基本信息 -->
            <%= render 'peoples/basic_info' %>

            <!-- 近况 -->
            <div class="co-peoples-lifememory">
                <div class="cpls-left-side">
                    <p>2<br/>0<br/>1<br/>6</p>
                    <p>近<br/>期<br/>经<br/>历</p>

                </div>

                <div class="cpls-right-side">
                    <div class="cpls-rside-top-side">
                        <div class="cpls-tab">
                            <div class="cpls-tab-name">春</div>
                            <div class="cpls-tab-line"></div>
                        </div>

                        <div class="cpls-tab">
                            <div class="cpls-tab-name">夏</div>
                            <div class="cpls-tab-line"></div>
                        </div>

                        <div class="cpls-tab">
                            <div class="cpls-tab-name">秋</div>
                            <div class="cpls-tab-line"></div>
                        </div>

                        <div class="cpls-tab">
                            <div class="cpls-tab-name">冬</div>
                            <div class="cpls-tab-line"></div>
                        </div>

                        <div class="cpls-tab"></div>
                        <div class="cpls-tab"></div>
                    </div>


                    <div class="cpls-rside-content">

                    </div>

                </div>
            </div>

            <!-- 加入的项目 -->
            <div class="co-peoples-projects-joined">

            </div>

            <!-- 我的评论 -->
            <div class="co-peoples-my-comment">

            </div>

            <!-- 教育信息 -->
            <div class="co-peoples-education">

            </div>

            <!-- 技能信息 -->
            <div class="co-peoples-ability">

            </div>

            <!-- 工作经历 -->
            <div class="co-peoples-work">

            </div>
        </div>

    </div>



</div>


<script>
    $(function() {

        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            }
        });

    });
</script>